REPO_USERNAME=<YOUR_MAVEN_USERNAME>
REPO_ENCRYPTED_PASSWORD=<YOUR_MAVEN_ENCRYPTED_PASSWORD>
REPO_URL=http://46.101.100.32:8080/artifactory
REPO_KEY=summer

org.gradle.jvmargs=-Xmx2g -XX:+UseCompressedOops -XX:-UseGCOverheadLimit
org.gradle.caching=true

gradle=build -x lint -x lintVitalRelease

android.useAndroidX=true
android.enableJetifier=true
android.enableR8.fullMode=true